*.jpg
*.html
*.eps
*.swo
*.aux
*.nav
*.out
*.snm
*.toc
*/*.egg-info/*
*.swp
*.txt
*.key
.env
*.zip
src/__pycache__/*
*.log
*.pyc
*.pid
*.png
.idea/*
*/*/.idea/*
*/venv/*
*/build/*
build/*
dist/*
*/*/dist/*
